*{
    background-color: black;
    color: white;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.card{
    text-align: center;
    max-width: 420px;
    padding: 24px;
    width: 100%;
    border-radius: 16px;
}
.grad-text{
  background: linear-gradient(90deg, #00c6ff, #00ff99);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 600;
}
button{
    margin-left: 15%;
    padding: 15px 25px;
    border-radius: 12px;
    border-style: hidden;
    width: 100%;
    background: linear-gradient(90deg, #00c6ff, #00ff99);
    color: black;
    transition: background 0.4s ease, transform 0.2s ease;
}
button:hover{
  transform: translateY(-5px);
}